In [1]:
import pandas as pd
import numpy as np
import seaborn as sns
import matplotlib.pyplot as plt

sns.set_style('whitegrid')

In [4]:
tf=pd.read_csv('train_data.csv')

In [16]:
sf =pd.read_csv('train_data.csv',index_col='Customer Id')

In [17]:
sf

,YearOfObservation,Insured_Period,Residential,Building_Painted,Building_Fenced,Garden,Settlement,Building Dimension,Building_Type,Date_of_Occupancy,NumberOfWindows,Geo_Code,Claim
Customer Id,,,,,,,,,,,,,
H14663,2013,1.000000,0,N,V,V,U,290.0,1,1960.0,.,1053,0
H2037,2015,1.000000,0,V,N,O,R,490.0,1,1850.0,4,1053,0
H3802,2014,1.000000,0,N,V,V,U,595.0,1,1960.0,.,1053,0
H3834,2013,1.000000,0,V,V,V,U,2840.0,1,1960.0,.,1053,0
H5053,2014,1.000000,0,V,N,O,R,680.0,1,1800.0,3,1053,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...
H5290,2012,1.000000,1,V,V,V,U,NaN,1,2001.0,.,NaN,0
H5926,2013,1.000000,0,V,V,V,U,NaN,2,1980.0,.,NaN,1
H6204,2016,0.038251,0,V,V,V,U,NaN,1,1992.0,.,NaN,0
H6537,2013,1.000000,0,V,V,V,U,NaN,1,1972.0,.,NaN,0
H7470,2014,1.000000,0,V,V,V,U,NaN,1,2004.0,.,NaN,0

In [5]:
tf

,Customer Id,YearOfObservation,Insured_Period,Residential,Building_Painted,Building_Fenced,Garden,Settlement,Building Dimension,Building_Type,Date_of_Occupancy,NumberOfWindows,Geo_Code,Claim
0,H14663,2013,1.000000,0,N,V,V,U,290.0,1,1960.0,.,1053,0
1,H2037,2015,1.000000,0,V,N,O,R,490.0,1,1850.0,4,1053,0
2,H3802,2014,1.000000,0,N,V,V,U,595.0,1,1960.0,.,1053,0
3,H3834,2013,1.000000,0,V,V,V,U,2840.0,1,1960.0,.,1053,0
4,H5053,2014,1.000000,0,V,N,O,R,680.0,1,1800.0,3,1053,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
7155,H5290,2012,1.000000,1,V,V,V,U,NaN,1,2001.0,.,NaN,0
7156,H5926,2013,1.000000,0,V,V,V,U,NaN,2,1980.0,.,NaN,1
7157,H6204,2016,0.038251,0,V,V,V,U,NaN,1,1992.0,.,NaN,0
7158,H6537,2013,1.000000,0,V,V,V,U,NaN,1,1972.0,.,NaN,0
7159,H7470,2014,1.000000,0,V,V,V,U,NaN,1,2004.0,.,NaN,0

In [8]:
tf.head(n=11)

,Customer Id,YearOfObservation,Insured_Period,Residential,Building_Painted,Building_Fenced,Garden,Settlement,Building Dimension,Building_Type,Date_of_Occupancy,NumberOfWindows,Geo_Code,Claim
0,H14663,2013,1.000000,0,N,V,V,U,290.0,1,1960.0,.,1053,0
1,H2037,2015,1.000000,0,V,N,O,R,490.0,1,1850.0,4,1053,0
2,H3802,2014,1.000000,0,N,V,V,U,595.0,1,1960.0,.,1053,0
3,H3834,2013,1.000000,0,V,V,V,U,2840.0,1,1960.0,.,1053,0
4,H5053,2014,1.000000,0,V,N,O,R,680.0,1,1800.0,3,1053,0
5,H4977,2012,1.000000,0,V,N,O,R,535.0,1,1980.0,3,1143,0
6,H7390,2012,1.000000,0,N,V,V,U,2830.0,1,1988.0,.,1143,0
7,H14488,2015,1.000000,0,N,V,V,U,4952.0,1,1988.0,.,1160,0
8,H19355,2014,1.000000,0,V,N,O,R,2735.0,1,2013.0,3,1173,1
9,H18601,2015,1.000000,0,V,N,O,R,520.0,1,2011.0,2,1224,0
10,H18177,2013,0.241096,0,V,N,O,R,550.0,1,1960.0,3,1283,0

In [10]:
tf.shape

(7160, 14)

In [11]:
tf.isnull().sum()

Customer Id             0
YearOfObservation       0
Insured_Period          0
Residential             0
Building_Painted        0
Building_Fenced         0
Garden                  7
Settlement              0
Building Dimension    106
Building_Type           0
Date_of_Occupancy     508
NumberOfWindows         0
Geo_Code              102
Claim                   0
dtype: int64

In [12]:
tf['Garden'].isnull().value_counts()/len(tf)

False    0.999022
True     0.000978
Name: Garden, dtype: float64

In [13]:
tf['Building Dimension'].isnull().value_counts()/len(tf)

False    0.985196
True     0.014804
Name: Building Dimension, dtype: float64

In [14]:
tf['Date_of_Occupancy'].isnull().value_counts()/len(tf)

False    0.92905
True     0.07095
Name: Date_of_Occupancy, dtype: float64

In [15]:
tf['Geo_Code'].isnull().value_counts()/len(tf)

False    0.985754
True     0.014246
Name: Geo_Code, dtype: float64

In [18]:
tf['Garden'].mode()

0    O
dtype: object

In [19]:
tf['Garden'].fillna(tf['Garden'].mode()[0], inplace=True)

In [20]:
tf['Building Dimension'].median()

1083.0

In [21]:
tf['Building Dimension'].fillna(tf['Building Dimension'].median(), inplace=True)

In [22]:
tf['Date_of_Occupancy'].median()

1970.0

In [23]:
tf['Date_of_Occupancy'].fillna(tf['Date_of_Occupancy'].median(), inplace=True)

In [28]:
tf['Geo_Code'].median()

TypeError:

In [29]:
tf.isnull().sum()

Customer Id             0
YearOfObservation       0
Insured_Period          0
Residential             0
Building_Painted        0
Building_Fenced         0
Garden                  0
Settlement              0
Building Dimension      0
Building_Type           0
Date_of_Occupancy       0
NumberOfWindows         0
Geo_Code              102
Claim                   0
dtype: int64